<form id="account-form" method="post" action="">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="password">Username</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="server">Server</label>
        <select class="form-control form-control-sm" id="server" name="server">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control form-control-sm" id="gender" name="gender">
            <option value="0">Trái đất</option>
            <option value="1">Namec</option>
            <option value="2">Xayda</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>